    <header class="nxt-mainheader">
        <div class="nxt-logo"><a href="{{ site_url() }}">{{ strtoupper(option('site_name')) }}</a></div>
    </header>
    <br/>
    <div class="nxtsearch">
        <form method="GET" action="/" class="go">
            <input type="text" name="q" id="q" placeholder="Ketik Judul Lagu Atau Nama Penyanyi" value="" />
            <button type="submit">Search</button>
        </form>
    </div>