<footer class="col-md-12 py-4">
    <a href="{{ site_url() }}"> Home </a>
    <p class="mb-0">&copy; Copyright {{ "now"|date("Y") }}. All Rights Reserved. {{ option('site_name') }}</p>
</footer>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
{# Comment #}
<script>
    $(document).ready(function(){
        $('.comments').trigger('click');
    });
    $(document).on('click', '.comments', function() {
        $.ajax({
            type:'GET',
            url:"/api/comments?id={{ search['items'][0]['id'] }}&limit=10",
            success: (function (data) {
                $.each(data.items, function (i, item) {
                    $('.comments').append(
                        '<b>' + item.authorDisplayName + '</b><br/>' + item.textDisplay + '<br/><br/>'
                    );
                });
                
            }),error: function (data) {
                $('.comments').append(
                    'Falied Load Data..'
                );
            }
        });
    });
</script>