* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, 
em, img, strong, center, ol, ul, li, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0; 
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-appearance: none; 
    -moz-appearance: none;
}

article, footer, header, hgroup, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

a,
input {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/**
 * Global Elements
 */

body {
    line-height: 1.5rem;
}

body, 
input,
button {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

img { 
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input[type=text] {
    padding: .75rem 1.15rem;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
input[type=text]:focus {
    border-color: #00aced;
    box-shadow: 0 0 5px #a9e4f9;
}

strong {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

/**
 * Layouts
 */

.container {
    width: 800px;
    margin: 0 auto;
}

main {
    padding: 1.5rem 0;
}

#content {
    padding-right: 1.5rem;
}

#sidebar {
    width: 240px;
}

/**
 * Flex
 */

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-fill {
    flex: 1;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}

/**
 * Header
 */

#header {
    padding: 1.5rem;
    border-bottom: 1px solid #eee;
}

#header .container {
    justify-content: space-between;
}

#header .left .name {
    letter-spacing: -.05rem;
    line-height: 2.25rem;
    font-size: 2rem;
}
#header .left .name a:hover {
    color: #0eb1ed;
}
#header .left .logo img {
	width: auto;
	height: 36px;
	object-fit: cover;
}
#header .left .toggle-menu {
    display: none;
}

#header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 -.5rem;
}
#header nav ul li {
    position: relative;
}
#header nav ul li a {
    position: relative;
    padding: .5rem;
    color: #888;
}
#header nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -.5rem;
    width: 180px;
    margin: 5px 0 0 0;
    padding: .5rem 0;
    flex-direction: column;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
#header nav ul li ul li a {
    display: block;
    padding: .15rem 1rem;
}
#header nav ul li ul li ul {
    left: auto;
    right: 100%;
    top: 0;
    margin: -.5rem 1rem 0 0;
}
#header nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
#header nav ul li:hover > a {
    color: #000;
}
#header nav ul .current-menu-item > a,
#header nav ul .current-menu-ancestor > a {
    font-weight: 700;
    color: #000;
}
#header nav ul .menu-item-has-children > a:after,
#header nav ul li ul .menu-item-has-children > a:before {
    display: inline-block;
    margin-left: 5px;
    text-rendering: auto;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 5 Pro"; 
    font-weight: 900; 
    font-size: 11px;
    content: "\f078";
    -webkit-font-smoothing: antialiased;
}
#header nav ul li ul .menu-item-has-children > a:after {
    display: none;
}
#header nav ul li ul .menu-item-has-children > a:before {
    position: relative;
    top: -1px;
    margin: 0 5px 0 0;
    content: "\f053";
}

#header .social {
    margin: -2.5px;
}
#header .social a {
    width: 32px;
    height: 32px;
    margin: 2.5px;
    color: #fff;
    -webkit-border-radius: 32px;
    border-radius: 32px;
}
#header .social a.fb {
    background: #3b5998;
}
#header .social a.tw {
    background: #00aced;
}
#header .social a.pt {
    background: #cb2027;
}
#header .social a.yt {
    background: #bb0000;
}

#header.mobile .container {
    flex-direction: column;
}
#header.mobile nav,
#header.mobile .social {
    display: none;
}
#header.mobile .left {
    width: 100%;
    justify-content: space-between;
}
#header.mobile.toggled .left {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #eee;
}
#header.mobile.toggled nav,
#header.mobile.toggled .social,
#header.mobile .left .toggle-menu {
    display: flex;
}
#header.mobile nav {
    padding: 1.15rem 0;
}
#header.mobile nav ul {
    flex-direction: column;
    align-items: center;
} 

/**
 * Page Title
 */

.page-title {
    padding-bottom: .9rem;
    margin: -.1rem 0 1.5rem 0;
    line-height: 1.8rem;
    font-size: 1.3rem;
    border-bottom: 1px solid #e9e9e9;
}

/**
 * Search Form
 */

#search-form {
    margin-bottom: 1.5rem;
    text-align: center;
}
#search-form h3 {
    margin: -.2rem 0 .5rem 0;
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 400;
}
#search-form div {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
#search-form input {
    width: 100%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    text-align: center;
}
#search-form button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 0;
    padding: 0 12px;
    height: 32px;
    margin-top: -16px;
    background: none;
    color: #ccc;
    border: none;
}
#search-form button:hover,
#search-form button:active {
    color: #000;
}

/**
 * Tracks
 */

.section-title {
    margin: .25rem 0 1.5rem 0;
    line-height: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: #eee;
}
.section-title span {
    display: inline-block;
    margin: 0 1rem;
    padding: 0 1rem;
    background: #fff;
}
.section-title span i {
    font-size: 1rem;
    margin-right: .5rem;
}

.section-tracks .item {
    position: relative;
    margin-bottom: 1rem;
}
.section-tracks .item:last-child {
    margin-bottom: 0;
}
.section-tracks .item .image {
    width: 56px;
    height: 56px;
}
.section-tracks .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.section-tracks .item .detail {
    padding: 0 1rem;
}
.section-tracks .item .detail a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.section-tracks .item .detail h2 {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 500;
}
.section-tracks .item:hover > .detail h2 a {
    color: #00aced;
}
.section-tracks .item .detail p {
    font-size: 0.9rem;
    color: #888;
}
.section-tracks .item .detail p a {
    position: relative;
    z-index: 5;
    color: #888;
}
.section-tracks .item .detail p a:hover {
    color: #000;
}
.section-tracks .item .detail p span {
    padding-right: .75rem;
}
.section-tracks .item .detail p span i {
    margin-right: 5px;
    color: #bbb;
}
.section-tracks .item .rank {
    font-size: 1.2rem;
    color: #ddd;
}
.section-tracks .item .download-btn {
    width: 32px;
    height: 32px;
    font-size: 12px;
    background: #ccc;
    color: #fff;
    -webkit-border-radius: 48px;
    border-radius: 48px;
}
.section-tracks .item:hover > .download-btn {
    background: #00aced;
}

/**
 * Nav
 */

.nav {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e9e9e9;
}
.nav a {
    padding: .5rem 1.2rem;
    margin: 0 .2rem;
    background: #eee;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.nav a:hover {
    background: #00aced;
    color: #fff;
}
.nav a i {
    position: relative;
    top: -1px;
    font-size: .7rem;
}
.nav a.prev i {
    margin-right: 10px;
}
.nav a.next i {
    margin-left: 10px;
}

/**
 * Single
 */

.single .image {
    margin-bottom: 1.5rem;
}

.single .player {
    margin-bottom: 1.25rem;
}
.single .player * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.single .details {
    color: #777;
}
.single .details p {
    margin-bottom: 7px;
}
.single .details p:last-child {
    margin-bottom: 0;
}
.single .details p i {
    margin-right: 8px;
    color: #aaa;
}

.single .content {
    margin-top: 1rem;
}
.single .content > * {
    margin-bottom: 1rem;
}
.single .content > *:last-child {
    margin-bottom: 0;
}
.single .content h1,
.single .content h2 { 
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.single .content h3 { 
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.single .content h4,
.single .content h5, 
.single .content h6 { 
    font-size: 1rem;
    font-weight: 700;
}

/**
 * Sidebar
 */

#sidebar .widget {
    margin-bottom: 1.5rem;
}
#sidebar .widget:last-child {
    position: sticky;
    top: 1.5rem;
    margin-bottom: 0;
}

#sidebar .widget-terms li {
    margin-bottom: .5rem;
}
#sidebar .widget-terms li:last-child {
    margin-bottom: 0;
}
#sidebar .widget-terms li a i {
    font-size: .9rem;
}
#sidebar .widget-terms li a span {
    padding-left: 1rem;
}
#sidebar .widget-terms li a {
    color: #888;
}
#sidebar .widget-terms li a:hover {
    color: #000;
}

/**
 * Footer
 */

#footer {
    padding: 1.35rem 0;
    text-align: center;
    border-top: 1px solid #e9e9e9;
}

#footer ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: -.25rem 0 .15rem 0;
}
#footer ul.menu li {
    padding: .25rem .5rem;
}

#footer .credit {
    font-size: 0.9rem;
    color: #999;
}

/**
 * Responsive
 */

@media (max-width: 848px) {
    #header {
        padding-left: 0;
        padding-right: 0;
    }

	.container {    
        width: 500px; 
        padding: 0 1.5rem;
    }

    .main-content {
        flex-direction: column;
    }

    #content {
        padding-right: 0;
        padding-bottom: 1.5rem;
    }

    #sidebar {
        width: 100%;
        padding-top: 1.5rem;
        border-top: 1px solid #eee;
    }
}

@media (max-width: 548px) {
	.container {    
        width: 100%; 
        padding: 0 1.5rem;
    }
}

@media (max-width: 420px) {
    .section-tracks .item .image {
        width: 32px;
        height: 32px;
    }

    .section-tracks .item .detail h2,
    .section-tracks .item .detail p,
    .widget ul,
    .single .details {
        line-height: 1.3rem;
        font-size: 85%;
    }
}

.meta-desc {
    margin: -.1rem 0 1.5rem 0;
    line-height: 1.8rem;
    text-align: justify;
}